.checkout-message{
    margin-top: 70px;
    margin-left: 45%;
    font-size: large;
}

.thankyou-image
{
    width: 500px;
    height: 348px;
    margin-left: 501px;
    margin-top: 47px;
}